<html>
    <head>
       <title>Betskun blogi</title>
</head>

<body>
    <h1>Betskun blogi</h1>
    <p>Hello wooorld!</p>
    <p>Have a nice day!</p>


    {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
        <br>
        <br>
    </div>
{% endfor %}


    <div>
            <h5><a href="https://djangogirls.org" target="_blank">Django Girls Blog</a></h5>
        </div>

</body>
</html>